<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Golf Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
    <div class="container has-text-centered">
      <a href="/login"><img src="http://icons.iconarchive.com/icons/kevin-andersson/sportset/128/Golf-icon.png"></a>
      <h1 class="title">
          Log In
      </h1>
      <a href="/signup"><img src="http://icons.iconarchive.com/icons/kevin-andersson/sportset/128/Golf-icon.png"></a>
      <h1 class="title">
          Sign up
      </h1>
    </div>
  </div>
  </section>
  </body>
</html>
