<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Golf Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
    <table class="table is-fullwidth">
        <thead>
            <tr>
            <th>Date</th>
            <th>Course</th>
            <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <%@user.posts.each do |post|%>
            <tr>
            <td><%=post.date%></td>
            <td><%=post.course%></td>
            <td><%=post.score%></td>
            </tr>
            <%end%>
        </tbody>
    </table>
<br>

    <form action='/:id/new'>
        <input type="submit" value="Add Record">
    </form>
    <form action='/logout' method='post'>
        <input type="submit" value="Logout">
    </form>

    <%=@user.username%>
</body>
</html>
