<table class="table is-bordered">
    <thead>
        <tr>
        <th>Date</th>
        <th>Course</th>
        <th>Score</th>
        </tr>
    </thead>
</table>
<br>
<form action='/:id/new'>
<input type="submit" value="Add Record">
</form>
<form action='/logout' method='post'>
<input type="submit" value="Logout">
</form>
